build-Mutate-Desktop-Debug/
build-Mutate-Desktop-Release/
src/Mutate.pro.user*
src/Makefile
src/*.o
src/mutate
src/moc_doublelistitem.cpp
src/moc_hotkey.cpp
src/moc_listitem.cpp
src/moc_listwidget.cpp
src/moc_plaintext.cpp
src/moc_qtlocalpeer.cpp
src/moc_qtsinglecoreapplication.cpp
src/moc_qxtglobalshortcut.cpp
src/moc_setting.cpp
src/moc_singleapplication.cpp
src/moc_widget.cpp
src/moc_widgetthread.cpp
src/qrc_icons.cpp
src/ui_doublelistitem.h
src/ui_hotkey.h
src/ui_listitem.h
src/ui_setting.h
src/ui_widget.h

# Log Files
*.log
.DS_Store
