Source: mutate
Section: unknown
Priority: optional
Maintainer: Wei Qiang <wei.qianghb@foxmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/mutate.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/mutate.git;a=summary

Package: mutate
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
