Package: mutate
Version: 2.4
Architecture: amd64
Maintainer: Wei Qiang <wei.qianghb@foxmail.com>
Installed-Size: 900
Depends: qt5-qmake, qtbase5-dev, libqt5x11extras5-dev, libboost-regex1.55-dev, libgtk2.0-dev
Section: utils
Priority: optional
Homepage: https://github.com/qdore/Mutate
Description: Mutate - An award-winning productivity application
 Mutate is a simple quick start tool inspired by Alfred(OS X app).Be more productive with hotkeys, keywords and file actions at your fingertips.
