Package: mutate
Version: 1.0-1
Architecture: amd64
Maintainer: Wei Qiang <wei.qianghb@foxmail.com>
Installed-Size: 29
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
